<footer class="footer">

  <div class="social-links">
    <a href="https://www.linkedin.com/in/dilan-salinda/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin-in social-icon"></i>
    </a>
    <a href="https://github.com/dilansalinda/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github social-icon"></i>
    </a>
    <a href="http://about.me/dilansalinda/" target="_blank" rel="noopener noreferrer">
      <i class="fa-solid fa-square-arrow-up-right"></i>
    </a>
  </div>
  
    <p>© {{ currentYear }} Dilan Salinda. All rights reserved.</p>
</footer>